* {
  padding: 0;
  box-sizing: border-box;
}

:root {
  --violet: #2E45CC;
  --green: #04DF6C;
  --black: #3D3A38;
}

body {
  font-family: 'Montserrat', sans-serif!important;
  font-size: 16px!important;
  font-weight: 400!important;
  line-height: 1.24!important;
  color: var(--black)!important;
}

header {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
  height: 100px;
}

a {
  text-decoration: none;
  color: currentColor;
  display: block;
}

ul,
ol,
menu {
    list-style: none;
}

img {
  max-width: 100%;
}

figure {
  margin: 0!important;
}

figure > img {
  display: block;
  width: 100%;
}

.icon {
  width: 36px; 
  height: 36px; 
  fill: currentColor;
  color: var(--black);
}

.btn-unstyled {
  border: none;
  background-color: transparent;
  padding: 0;
}

/* OFFCANVAS */
.offcanvas {
  width: 75%;
}
.offcanvas *{
  color: var(--black);
  text-decoration: none;
}

.offcanvas-menu {
  padding: 0;
  margin: 0;
}

.offcanvas-menu .menu-item {
  cursor: pointer;
}

.offcanvas-menu .menu-item.active, 
.offcanvas-menu .menu-item a:hover{
  color: var(--violet);
}

/* MAIN */

section.hero-section {
  margin-top: 100px;
  height: calc(100vh - 100px);
}

.hero-section_content {
  background-image: url("/images/banner-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-section_content h1{
  font-size: 44px;
}

.title {
  font-weight: bolder;
}
/* Our Strengths */

.our-strengths-section ul.strengths-list  {
  padding: 0;
  margin: 0;
}

ul.strengths-list p {
  font-size: 14px;
}