* {
  padding: 0;
  box-sizing: border-box;
}

:root {
  --violet: #2E45CC;
  --green: #04DF6C;
  --black: #3D3A38;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.24;
  color: var(--black);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: currentColor;
  display: block;
}

ul,
ol,
menu {
    list-style: none;
}

img {
  max-width: 100%;
}

figure > img {
  display: block;
  width: 100%;
}

.icon {
  width: 36px; 
  height: 36px; 
  fill: currentColor;
  color: var(--black);
}

.btn-unstyled {
  border: none;
  background-color: transparent;
  padding: 0;
}

/* OFFCANVAS */
.offcanvas {
  width: 75%;
}
.offcanvas *{
  color: var(--black);
  text-decoration: none;
}

.offcanvas-menu {
  padding: 0;
  margin: 0;
}

.offcanvas-menu .menu-item {
  cursor: pointer;
}

.offcanvas-menu .menu-item.active, 
.offcanvas-menu .menu-item a:hover{
  color: var(--violet);
}
